.add_note input{
    line-height: 2rem;
    width: 60%;
    border-color: #ccc7c7;
    border: 0;
    padding: 0;
}
.add_note button{
    line-height: 2rem;
    background-color: rgb(3, 62, 3);
    color: #fff;
    width: 15%;
    border: 0;
    padding: 0;

}
.add_note select{
    line-height: 2rem;
    height: 2rem;
    width: 20%;
    border: 0;
    padding: 0;
}